<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>{% block titulo %} base {% endblock %}</title>
</head>
<body></body>
    <nav>
        <div class="cabeçalho">
          <a class="navbar-brand" href="/">Home&nbsp;|&nbsp;</a>
          <a class="navbar-brand" href="/QuemSomos">Quem Somos&nbsp;|&nbsp;</a>
          <a class="navbar-brand" href="/Contato">Contato</a>
        </div>
      </nav>

      <div class="começo">
        <img src="../static/imagens/logo.png" alt="logo">
    </div>

      {% block conteudo %}
      {% endblock %}

      <div class="final">
        <h3>Todos os direitos reservados</h3>
      </div>
</body>
</html>