{% extends "base.html" %}
{% block título %} Contato {% endblock %}

{% block content %}
<div class="jumbotron">
  <br>
    <h2 class="display-4"><strong>Venha fazer parte dessa família!</strong></h2>
    <p class="lead">A Com Passo é um ótimo ambiente para os amantes da arte. Além de seu amplo leque de modalidades disponíveis, seus alunos são frequentemente encontrados nos festivais e nas competições de dança mais populares do Brasil. Ou seja, alunos Com Passo, além de ensino de qualidade, têm acesso a incríveis oportunidades relacionadas à dança!</p>
    <hr class="my-4">
    &nbsp;<p>Nome:</p>
    &nbsp;<input>
    &nbsp;<p>Email:</p>
    &nbsp;<input>
    &nbsp;<p>Telefone:</p>
    &nbsp;<input>
    &nbsp;<p>Modalidade(s) desejada(s):</p>
    &nbsp;<input>
  </div>
  <br>
  &nbsp;<button>Enviar</button>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}