{% extends "base.html" %} {% block título %} Home {% endblock %} {% block
content %}
<div class="container">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../static/imagens/carousel-1.jpeg"
          class="d-block w-100"
          alt="slide1"
        />
        <div class="carousel-caption">
          <h5 class="carousel-legenda-1"><strong>Produção de uma das melhores academias de dança de São José dos Campos.</strong></h5>
          <p class="carousel-legenda-2">Coreografia: Não Falamos do Bruno</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../static/imagens/carousel-2.jpeg"
          class="d-block w-100"
          alt="slide2"
        />
        <div class="carousel-caption">
          <h5 class="carousel-legenda-1"><strong>Dois dias de apresentação no Teatro Municipal da cidade.</strong></h5>
          <p class="carousel-legenda-2">Coreografia: Entre Linhas</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../static/imagens/carousel-3.jpeg"
          class="d-block w-100"
          alt="slide3"
        />
        <div class="carousel-caption">
          <h5 class="carousel-legenda-1"><strong>Três sessões, ingressos esgotados.</strong></h5>
          <p class="carousel-legenda-2">Coreografia: Abra os olhos, o que você vê?</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="texto">
  <br />
  <div class="conteudo">
  <h1><strong>Com Passo Cia de Dança: Madrigal</strong></h1>
  <br>
  <p>
    A academia de dança Com Passo, que completou 10 anos de existência em 2023,
    realiza seu espetáculo anual ao fim do ano, em novembro ou dezembro. Para o
    ano de 2023, o tema escolhido foi o filme "Encanto", produzido pela Disney.
    Obras como "A Fantástica Fábrica de Chocolate" e "Alice no País das
    Maravilhas" também já foram referências para apresentações de fim de ano da
    Com Passo. O espetáculo de fim de ano é composto por esquetes e performances
    de dança de diversos estilos, como sapateado, jazz, jazz funk e
    contemporâneo. Algumas coreografias são dedicadas a um único estilo,
    enquanto outras tratam-se de misturas. O espetáculo geralmente é apresentado
    durante dois, três ou quatro dias, com sessões à tarde e à noite. Este site
    conta com uma página apresentando os artistas que representaram os
    personagens principais da obra audiovisual "Encanto" no espetáculo
    "Madrigal" e com uma página dedicada aos professores e coreógrafos que
    tornaram a apresentação possível por meio de seus esforços.
  </p>
  <h3><strong>Algumas das coreografias apresentadas:</strong></h3>
  </div>
</div>
<br>
<div class="todos-cards">
  <div class="card text-center-1">
    <img
      class="card-img-top"
      src="../static/imagens/home-1.jpg"
      alt="Presente Para Antônio"
    />
    <div class="card-body">
      <h5 class="card-title"><strong>Presente Para Antônio</strong></h5>
      <p class="card-text">
        Coreografia de sapateado que representava a sétima do 1° ato. Criada por
        Davi Moraes, ela faz referência ao tigre de pelúcia que Mirabel dá de
        presente ao personagem Antônio na obra original.
      </p>
    </div>
  </div>
  <div class="card text-center-1">
    <img
      class="card-img-top"
      src="../static/imagens/home-3.jpg"
      alt="Dons Mágicos"
    />
    <div class="card-body">
      <h5 class="card-title"><strong>Dons Mágicos</strong></h5>
      <p class="card-text"></p>
      <p>
        Coreografada por Bruna Miragaia, "Dons Mágicos" representa, por meio do
        sapateado, alguns dos personagens principais do filme "Encanto" e seus
        poderes mágicos. A turma "teen" da Com Passo está performando essa
        coreografia em alguns festivais. Foi a primeira do espetáculo, após uma
        esquete de abertura.
      </p>
    </div>
  </div>
  <div class="card text-center-1">
    <img
      class="card-img-top"
      src="../static/imagens/home-4.jpg"
      alt="Dom do Antônio"
    />
    <div class="card-body">
      <h5 class="card-title"><strong>Dom do Antônio</strong></h5>
      <p class="card-text"></p>
      <p>
        Representando a décima coreografia do 1° ato, "Dom do Antônio" foi uma
        coreografia que misturou jazz e sapateado e fez referência ao momento do
        filme "Encanto" no qual Antônio descobre que seu dom é falar com
        animais.
      </p>
    </div>
  </div>
  <div class="card text-center-1">
    <img
      class="card-img-top"
      src="../static/imagens/home-6.jpg"
      alt="Janelas da Alma"
    />
    <div class="card-body">
      <h5 class="card-title"><strong>Visão do Bruno</strong></h5>
      <p class="card-text"></p>
      <p>
        Ananda Carmona coreografou "Visão do Bruno", coreografia de jazz que
        foi a quinta do 2° ato. A coreografia foi inspirada no personagem
        "Bruno", por isso todos os dançarinos estavam vestindo peças verdes e
        marrons. Alguns usavam cabeças de rato também.
      </p>
    </div>
  </div>
  <div class="card text-center-1">
    <img
      class="card-img-top"
      src="../static/imagens/home-5.jpg"
      alt="Dom da Força"
    />
    <div class="card-body">
      <h5 class="card-title"><strong>Dom da Força</strong></h5>
      <p class="card-text"></p>
      <p>
        Décima sexta coreografia do 1° ato, "Dom da Força" foi uma coreografia
        dedicada à personagem "Luísa", cujos diferenciais são sua força e sua resistência física.
        Coreografada por Ananda Carmona e Edson Pitchula, foi uma performance
        capaz de arrancar palmas e risadas da plateia.
      </p>
    </div>
  </div>
</div>
<br>

{% endblock %}
