{% extends "base.html" %}
{% block título %} Professores {% endblock %}

{% block content %}
<div class="texto">
  <div class="conteudo">
    <br>
<h1><strong>Professores</strong></h1>
<p>Sem os professores, a Com Passo não teria a alta reputação que possui atualmente. Eles são os responsáveis por dar vida aos espetáculos, tarefa que é de extrema impotância para uma academia de dança. Os professores por trás da criação de Madrigal foram:</p>
</div>
</div>
<div class="todos-cards">
    <div class="card text-center-3">
      <img class="card-img-top" src="../static/imagens/prof-7.jpg" alt="Miragaia">
      <div class="card-body">
        <h5 class="card-title"><strong>Bruna Miragaia</strong></h5>
        <p class="card-text">Professora de sapateado</p>
        <a class="card-text" href="https://www.instagram.com/brunamiragaia?igsh=MnN1Z3gyeGl1eW1w" target="_blank">@brunamiragaia</a>
      </div>
    </div>
    <div class="card text-center-3">
      <img class="card-img-top" src="../static/imagens/prof-4.jpg" alt="Pedro">
      <div class="card-body">
        <h5 class="card-title"><strong>Pedro Portela</strong></h5>
        <p class="card-text"><p>Professor de jazz funk</p>
        <a class="card-text" href="https://www.instagram.com/pportela_soares?igsh=OWNkeGVpYjhiNjl0" target="_blank">@pportela_soares</a>
      </div>
    </div>
    <div class="card text-center-3">
      <img class="card-img-top" src="../static/imagens/prof-8.jpg" alt="Davi">
      <div class="card-body">
        <h5 class="card-title"><strong>Davi Moraes</strong></h5> 
        <p class="card-text"><p>Professor de sapateado</p>
        <a class="card-text" href="https://www.instagram.com/davihlm?igsh=MTF2ZW5sM250N3A3dA==" target="_blank">@davihlm</a>
      </div>
    </div>
    <div class="card text-center-3">
      <img class="card-img-top" src="../static/imagens/prof-6.jpg" alt="Ananda">
      <div class="card-body">
        <h5 class="card-title"><strong>Ananda Carmona</strong></h5>
        <p class="card-text"><p>Professora de jazz</p>
        <a class="card-text" href="https://www.instagram.com/anandacarmona?igsh=MWF5OGxkcWd3bjRuMQ==" target="_blank">@anandacarmona</a>
      </div>
    </div>
    <div class="card text-center-3">
      <img class="card-img-top" src="../static/imagens/prof-1.jpg" alt="Vanessa">
      <div class="card-body">
        <h5 class="card-title"><strong>Vanessa Secchin</strong></h5>
        <p class="card-text"><p>Professora de jazz</p>
        <a class="card-text" href="https://www.instagram.com/van.secchin?igsh=YW53M29oOWg1NzUw" target="_blank">@van.secchin</a>
      </div>
    </div>
    <div class="card text-center-3">
        <img class="card-img-top" src="../static/imagens/prof-2.jpg" alt="Fonseca">
        <div class="card-body">
          <h5 class="card-title"><strong>Bruna Fonseca</strong></h5>
          <p class="card-text"><p>Professora de ballet clássico e contemporâneo</p>
          <a class="card-text" href="https://www.instagram.com/bruh.fonseca?igsh=OWFhaDQya2dtdTVo" target="_blank">@bruh.fonseca</a>
        </div>
      </div>
      <div class="card text-center-3">
        <img class="card-img-top" src="../static/imagens/prof-5.jpg" alt="Pitchula">
        <div class="card-body">
          <h5 class="card-title"><strong>Edson Pitchula</strong></h5>
          <p class="card-text"><p>Professor de danças urbanas</p>
          <a class="card-text" href="https://www.instagram.com/edson_pitchula?igsh=Y21wcjd5Z3JuOHh0" target="_blank">@edson_pitchula</a>
        </div>
      </div>
      <div class="card text-center-3">
        <img class="card-img-top" src="../static/imagens/prof-3.jpg" alt="Miguel">
        <div class="card-body">
          <h5 class="card-title"><strong>Miguel Beloti</strong></h5>
          <p class="card-text"><p>Professor de teatro</p>
          <a class="card-text" href="https://www.instagram.com/miguelbeloti?igsh=eXdwb3Zlb2NyYWp4" target="_blank">@miguelbeloti</a>
        </div>
      </div>
      <div class="card text-center-3">
        <img class="card-img-top" src="../static/imagens/prof-9.jpg" alt="Livia">
        <div class="card-body">
          <h5 class="card-title"><strong>Lívia Ukita</strong></h5>
          <p class="card-text"><p>Professora de jazz</p>
          <a class="card-text" href="https://www.instagram.com/liviaukita?igsh=YW1oanQ2Z3RuN3dh" target="_blank">@liviaukita</a>
        </div>
      </div>
      </div>
      <br>
      <br>
      
    {% endblock %}