{% extends "base.html" %}
{% block título %} Protagonistas {% endblock %}

{% block content %}
<div class="texto">
  <div class="conteudo">
    <br>
<h1><strong>Protagonistas</strong></h1>
<p>Todo o elenco é importante para a realizção do espetáculo de fim de ano, claro, mas quando o tema é alguma obra popular, como um filme, a Com Passo escolhe alunos ou professores para representarem os personagens principais, baseando-se em suas habilidades e em sua semelhança ao personagem original. Os artistas escolhidos para representarem os principais personagens em "Madrigal" foram:</p>
</div>
</div>
<div class="todos-cards">
    <div class="card text-center-2">
      <img class="card-img-top" src="../static/imagens/protag-1.jpg" alt="Pepa">
      <div class="card-body">
        <h5 class="card-title"><strong>Letícia Bocalari</strong></h5>
        <p class="card-text">Personagem: Pepa</p>
        <a class="card-text" href="https://www.instagram.com/lets_bocalari?igsh=dzNlemkyc3U0b2w3" target="_blank">@lets_bocalari</a>
      </div>
    </div>
    <div class="card text-center-2">
      <img class="card-img-top" src="../static/imagens/protag-6.jpg" alt="Bruno">
      <div class="card-body">
        <h5 class="card-title"><strong>Pedro Portela</strong></h5>
        <p class="card-text"><p>Personagem: Bruno</p>
        <a class="card-text" href="https://www.instagram.com/pportela_soares?igsh=OWNkeGVpYjhiNjl0" target="_blank">@pportela_soares</a>
      </div>
    </div>
    <div class="card text-center-2">
      <img class="card-img-top" src="../static/imagens/protag-7.jpg" alt="Isabela">
      <div class="card-body">
        <h5 class="card-title"><strong>Maria Eduarda Campanha</strong></h5> 
        <p class="card-text"><p>Personagem: Isabela</p>
        <a class="card-text" href="https://www.instagram.com/maducampanha?igsh=MXJzbDA2YnVwbmZmNQ==" target="_blank">@maducampanha</a>
      </div>
    </div>
    <div class="card text-center-2">
      <img class="card-img-top" src="../static/imagens/protag-11.jpg" alt="Dolores">
      <div class="card-body">
        <h5 class="card-title"><strong>Maria Clara Faustino</strong></h5>
        <p class="card-text"><p>Personagem: Dolores</p>
        <a class="card-text" href="https://www.instagram.com/clara.faustinooo?igsh=MXhzdGpuZjh0aDh6eg==" target="_blank">@clara.faustinooo</a>
      </div>
    </div>
    <div class="card text-center-2">
      <img class="card-img-top" src="../static/imagens/protag-8.jpg" alt="Abuela e Mirabel">
      <div class="card-body">
        <h5 class="card-title"><strong>Renata Braga e Emília Chaves</strong></h5>
        <p class="card-text"><p>Personagens(respectivamente): Abuela e Mirabel criança</p>
        <a class="card-text" href="https://www.instagram.com/renata.cristina.braga?igsh=MTc4bXJndDU1MjBpeQ==" target="_blank">@renata.cristina.braga</a>
      </div>
    </div>
    <div class="card text-center-2">
        <img class="card-img-top" src="../static/imagens/protag-2.jpg" alt="Mirabel">
        <div class="card-body">
          <h5 class="card-title"><strong>Bruna Fonseca</strong></h5>
          <p class="card-text"><p>Personagem: Mirabel</p>
          <a class="card-text" href="https://www.instagram.com/bruh.fonseca?igsh=OWFhaDQya2dtdTVo" target="_blank">@bruh.fonseca</a>
        </div>
      </div>
      <div class="card text-center-2">
        <img class="card-img-top" src="../static/imagens/protag-5.jpg" alt="Antônio">
        <div class="card-body">
          <h5 class="card-title"><strong>Luanny Martimiano</strong></h5>
          <p class="card-text"><p>Personagem: Antônio</p>
          <a class="card-text" href="https://www.instagram.com/luannny_beatriz?igsh=MTJqMWV0ejJqdm4wdA==" target="_blank">@luannny_beatriz</a>
        </div>
      </div>
      <div class="card text-center-2">
        <img class="card-img-top" src="../static/imagens/protag-10.jpg" alt="Camilo">
        <div class="card-body">
          <h5 class="card-title"><strong>Willian Candinho</strong></h5>
          <p class="card-text"><p>Personagem: Camilo</p>
          <a class="card-text" href="https://www.instagram.com/will_mcs_?igsh=Z2RjMXpwMmZqdzRo" target="_blank">@will_mcs_</a>
        </div>
      </div>
      <div class="card text-center-2">
        <img class="card-img-top" src="../static/imagens/protag-3.jpg" alt="Félix">
        <div class="card-body">
          <h5 class="card-title"><strong>Rafael Di Moraes</strong></h5>
          <p class="card-text"><p>Personagem: Félix</p>
          <a class="card-text" href="https://www.instagram.com/rafa.dimorais?igsh=MXV3bjZhM3JldXFjeg==" target="_blank">@rafa.dimorais</a>
        </div>
      </div>
      <div class="card text-center-2">
        <img class="card-img-top" src="../static/imagens/protag-4.jpg" alt="Miguel e Julieta">
        <div class="card-body">
          <h5 class="card-title"><strong>Miguel Beloti e Bianca Ferraioli</strong></h5>
          <p class="card-text"><p>Personagens(respectivamente): Agustín e Julieta</p>
          <a class="card-text" href="https://www.instagram.com/miguelbeloti?igsh=eXdwb3Zlb2NyYWp4" target="_blank">@miguelbeloti</a>
          <a class="card-text" href="https://www.instagram.com/bia.ferraioli_?igsh=MXUwcnNzcjJ6YzY2bQ==" target="_blank">@bia.ferraioli_</a>
        </div>
      </div>
      <div class="card text-center-2">
        <img class="card-img-top" src="../static/imagens/protag-9.jpg" alt="Luisa">
        <div class="card-body">
          <h5 class="card-title"><strong>Nala Aiya</strong></h5>
          <p class="card-text"><p>Personagem: Luisa</p>
          <a class="card-text" href="https://www.instagram.com/nalaaiya?igsh=MWlnYmVidzc0azlycw==" target="_blank">@nalaaiya</a>
        </div>
      </div>
    </div>
    <br>
    <br>
{% endblock %}